*{
    margin: 0%;
    padding: 0%;
}
.cabe{
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px -1px 10px black;
}
.fundo{
    background-image: url(imgs/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.calculadora{
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid;
}
.botao{
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin: 1px;
    cursor: pointer;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: #fff;
    border: none;
}
.botao:hover{
    background-color: rgb(167, 100, 255, 0.3);
    border: 1px solid;
}
#igual{
height: 106px;
}
#zero{
width: 106px;
}
#resultado{
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    text-align: right;
    padding: 2px;
}